.book {
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	padding: 1rem;
	box-shadow: 1px 1px 3px 2px rgba(200, 200, 200, 0.25);
}

h1 {
	font-size: 1.25rem;
	margin: 1rem 0 0 0;
}

h2 {
	font-size: 1.1rem;
	font-weight: lighter;
	margin: 0.5rem 0 2rem;
}

p {
	font-size: 0.8rem;
	margin: auto 0.25rem 0.25rem auto;
}
